body{
background-image:url(GBG.png);
background-size:cover;
background-size: 1530px 750px;
}



#price2{
color:black;
background-color:white;
border: 3.5px solid white;
margin-top:202px;
margin-left:803px;
}