body{
background-image:url(background3.png);
background-size:cover;
background-size: 1530px 750px;
}

#ht{
width:375px;
margin-left:-90px;
margin-top:-65px;
}

#k{
width:90px;
margin-left:-208px;
margin-bottom:-45px;
}

#g{
width:90px;
margin-left:157px;
margin-bottom:-45px;
}

#n{
width:90px;
margin-left:157px;
margin-bottom:-45px;
}

#t{
width:90px;
margin-left:145px;
margin-bottom:-45px;
}

#le{
width:90px;
margin-left:156px;
margin-bottom:-45px;
}

#lu{
width:90px;
margin-left:146px;
margin-bottom:-45px;
}

#killua{
margin-top:52px;
margin-left:90px;
}

#gojo{
margin-top:-40px;
margin-left:350px;
}

#naruto{
margin-top:-40px;
margin-left:585px;
}

#tanjiro{
margin-top:-40px;
margin-left:825px;
}

#levi{
margin-top:-40px;
margin-left:1093px;
}

#luffy{
margin-top:-40px;
margin-left:1325px;
}
