body{
background-image:url(LUBG.png);
background-size:cover;
background-size: 1530px 750px;
}



#price6{
color:black;
background-color:white;
border: 3.5px solid white;
margin-top:238px;
margin-left:803px;
}