body{
background-image:url(LEBG.png);
background-size:cover;
background-size: 1530px 750px;
}



#price5{
color:black;
background-color:white;
border: 3.5px solid white;
margin-top:247px;
margin-left:803px;
}