body{
background-image:url(TBG.png);
background-size:cover;
background-size: 1530px 750px;
}



#price4{
color:black;
background-color:white;
border: 3.5px solid white;
margin-top:168px;
margin-left:803px;
}